# windows

Thumbs.db
[Dd]ebug*/
*.sdf
[Rr]elease*/
ipch/
*.opensdf
win32.vs2010/enc_temp_folder
win32.vs2010/win32.vs2010.suo

# os x

*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcscheme
*.xcworkspacedata
*.xcuserstate
xcschememanagement.plist
build/
.DS_Store
xcuserdata/
DerivedData/

# other

*.swp
